html {
    background-image: url("image/tweede kamer stoelen.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 100% 20%;
}
/*navigatie systeem*/
.navbar {
    background-color: #8D99AE;
}
.navdiv {
    display: flex; 
    align-items: right; 
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}
button {
    width: auto;
    height: auto;
    background-color: #2B2D42;
    padding: 10px;
    align-self: center;
    cursor: pointer;
}
.buttonNav {
    color: white;
    font-weight: bold;
}
/*Knoppen + Links*/
.logoA {
    margin-left: 20px;
}
.logoB {
    margin-left: 20px;
}
.KnopA {
    margin-left: 100px;
}
.KnopB {
    margin-left: 20px;
}
.KnopC {
    margin-left: 20px;
}
.KnopD {
    margin-left: 20px;
    margin-right: 20px;
}
.linkedin {
    margin-right: 20px;
}
/*section 1*/
#section1 {
    width: 100%;
    height: 46%;
    margin-top: 5%;
    text-align: center;
}
#text1 {
    font-size: 100px;
    color: red;
    margin-top: 1%;
    margin-bottom: 1%;
}
#text2 {
    font-size: 30px;
    margin-bottom: 4%;
}
#ErrorKnop {
    background-color: #8D99AE;
    color: white;
    border: none;
    border-radius: 5px;
    width: 30%;
    height: 15%;
}
/*Footer*/
.lijn-footer {
    height: 2px;
    width: 100%;
    background-color: darkgray;
    margin-top: 5%;
    margin-bottom: -5%;
}
.footerbar {
    background-color: #EDF2F4;
    margin-top: 9%;
    height: 100px;
}
.footerdiv {
    display: flex; 
    align-items: right; 
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}