html {
    background-image: url("image/tweede kamer stoelen.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 100% 10%;
}
/*navigatie*/
.navbar {
    background-color: #8D99AE;
}
.navdiv {
    display: flex; 
    align-items: right; 
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}
button {
    width: auto;
    height: auto;
    background-color: #2B2D42;
    padding: 10px;
    align-self: center;
    cursor: pointer;
}
.buttonNav {
    color: white;
    font-weight: bold;
}
/*Knoppen & Links*/
.logoA {
    margin-left: 20px;
}
.logoB {
    margin-left: 20px;
}
.KnopA {
    margin-left: 100px;
}
.KnopB {
    margin-left: 20px;
}
.KnopC {
    margin-left: 20px;
}
.KnopD {
    margin-left: 20px;
    margin-right: 20px;
}
.KnopE {
    margin-left: 40%;
    margin-top: 1%;
    width: 20%;
    background-color: #8D99AE;
    color: white;
    border-radius: 15px;
}
.linkedin {
    margin-right: 20px;
}
/*Vragen*/
.vragenboxSW {
    margin-top: 5%;
    width: 100%;
    height: 30%;
}
.VragenSW {
    width: 90%;
    height: 55%;
    margin-left: 5%;
    margin-top: 1%;
        font-size: 25px;
        font-weight: bolder;
        display: flex;                       
        align-items: center; 
        justify-content: center;
}
.knoppen-container {
    display: flex;           
    justify-content: center; 
    gap: 20%;               
    margin-top: 1%;
}
/*Eens - geen van beide - Oneens knop*/
.Eens {
    padding: 10px 20px;
    background-color: #13FD0F;
    color: black;
    border: solid black 1px;
    border-radius: 10px;
    font-size: 50px;
    cursor: pointer;
    width: 20%;
    height: 90px;
}
.Oneens {
    padding: 10px 20px;
    background-color: #FF0004;
    color: black;
    border: solid black 1px;
    border-radius: 10px;
    font-size: 50px;
    cursor: pointer;
    width: 20%;
    height: 90px;
}
.geenidee {
    padding: 10px 20px;
    background-color: #969696;
    color: black;
    border: solid black 1px;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;    
    width: 20%;
    height: 90px;
}
/*Footer*/
.lijn-footer {
    height: 2px;
    width: 100%;
    background-color: darkgray;
    margin-top: 100px;
    margin-bottom: -100px;
}
.footerbar {
    background-color: #EDF2F4;
    margin-top: 9%;
    height: 100px;
}
.footerdiv {
    display: flex; 
    align-items: right; 
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}
